@font-face {
    font-family: "VT323";
    src: local("/fonts/VT323-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* –––––––––––––––––––––––––––––––––––––– Base Elements –––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background-color: #455A64 !important;
    font-family: 'VT323', monospace !important;
    color: #76FF03;
}

form {
    margin-bottom: 0px !important;
}

a {
    margin-bottom: 5px;
    color: #76FF03;
    text-decoration: none;
}

/* –––––––––––––––––––––––––––––––––––––– Classes –––––––––––––––––––––––––––––––––––––––––––––––––– */

.row{
    margin-bottom: 5px;
}

.terminal-input {
    background-color: #424242 !important;
    border: none !important;
}

.terminal-container {
    margin: 10% auto !important;
}

.cl-screen {
    content: "";
    background-color: #424242;
    height: 300px;
    overflow-y: scroll;
}

.terminal {
    border: 5px solid #212121;
    border-radius: 1%;
}

.terminal-header {
    text-align: right;
    font-size: 0%;
    background-color: #212121;
}

.close-button {
    background-color: #B71C1C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.screen-button {
    background-color: #424242;
    border-bottom: 2px #76FF03;
    border-style: none none dashed none;
    padding-left: 0%;
}

.screen-button:hover{
    color: #0FA0CE;
}

/* –––––––––––––––––––––––––––––––––––––– ID'S –––––––––––––––––––––––––––––––––––––––––––––––––– */


#screen::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #76FF03;
    width: 10px;
    height: 24px;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

#submenus{
    margin-left: 15px;
}

#screen {
    margin-left: 3%;
}

/* –––––––––––––––––––––––––––––––––––––– Animations –––––––––––––––––––––––––––––––––––––––––––––––––– */

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
